.banner {
  a{
    text-decoration: none;
    color: #777;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-size: 100%;
  }
}

.articles {
  font-family: "Roboto Slab";

  a{
    color: inherit;
    text-decoration: none;
  }

  a:hover{
    text-decoration: underline;
  }
}
